@charset "utf-8";
.image_post{
	border-radius: 20px;
}
.form-control{
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
}
label input {
     display: none;
}
label{
	cursor: pointer;
}
.icon{
	width: 20px;
	height: 20px;
}
.image_top{
	border-radius: 50px;
}
.edit{
text-decoration:none;
}
.nav-item{
	text-decoration:none;
}
.mark{
	  background: #FF3366;
	  color: #FFFFFF;
	  border-radius: 10px;
	  text-align: center;
}
.sub{
	  text-align: center;	
}