@charset "utf-8";
.image_post{
	border-radius: 20px;

}
.form-control{
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
}
label input {
     display: none;
}
label{
	cursor: pointer;
}
.icon{
	width: 20px;
	height: 20px;
}
.image_top{
	border-radius: 50px;
}
.edit{
text-decoration:none;
}
.nav-item{
	text-decoration:none;
}
.mark{
	  background: #FF3366;
	  color: #FFFFFF;
	  border-radius: 10px;
	  text-align: center;
}
.sub{
	  text-align: center;	
}
.ideacard-body{
		cursor: pointer;
			padding:10px; /* a要素内の余白 */
}
.ideacard-body:hover {
    filter:alpha(opacity=70);/* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
    -moz-opacity:0.7;/* FF , Netscape */
    -khtml-opacity: 0.7;/* Safari 1.x */
    opacity:0.7;
    zoom:1;/*IE*/
}
.ideacard-body .Link{
	display:block;
	position: absolute;
	width: 100%; /* 横幅 */
	height: 100%;
	padding:10px; /* a要素内の余白 */
}
.url_mine{
	display: block;
	color: black
}